@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    @if (ViewBag.Message != null)
    {
        <p class="alert-success">@ViewBag.Message</p>
    }

    <h2>Demonstration</h2>
    <p class="lead"></p>

    <p class="lead">
        <ul>
            <li>Leveraging Okta APIs</li>
            <li>Permutations of a string</li>
            <li>When to buy/sell Stock</li>
        </ul>
    </p>
    
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">

</div>